@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bellefair';
  src: url('/src/assets/Fonts/Bellefair-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Perandory';
  src: url('/src/assets/Fonts/Perandory-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Bellefair', serif;
    color: #2c2c2c;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Perandory', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em; /* équivalent de tracking-wide */
  }
}

/* Optionnel */
@layer utilities {
  .section-scroll-offset {
    padding-top: 6rem; /* pt-24 = 6rem */
    scroll-margin-top: 6rem; /* scroll-mt-24 = 6rem */
  }
}
